<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>물품 검색 페이지</title>
  <link href="index.css" rel="stylesheet"/>
  <link href="style.css" rel="stylesheet"/>
</head>
<body>
  <header>
    <nav>
      <a href="/main">
          <img src="./images/로고_흰색글씨.png" alt="로고">
      </a>
      <ul>
          <li><a href="/status">분류현황</a></li>
          <li class="dropdown">
              <a href="#">물류관리</a>
              <div class="dropdown-content">
                  <a href="/QRcreate">물품 추가</a>
                  <a href="/QRresearch">물품 검색</a>
                  <a href="/QRdelete">물품 삭제</a>
              </div>
          </li>
          <li><a href="/cam">View</a></li>
          <li><a href="/auth/question">고객지원</a></li>
          <% if (log_status){%>
              <li class="nav-item">
                  <a class="nav-link" href="/auth/logout">로그아웃</a>
              </li>
          <% }else{ %>
              <li class="nav-item">
                  <a class="nav-link" href="/auth/login">로그인</a>
              </li>   
          <%}%> 
      </ul>
  </nav>
  </header>

  <div class="background animate__animated animate__bounceInLeft">
    <%- html %>
  </div>
    <table>
        <thead>
            <tr>
                <th>품목</th>
                <th>제품명</th>
                <th>분류구역</th>
                <th>QR코드정보</th>
            </tr>
        </thead>
        <!-- <tbody>
            <% for(var i =0; i < item.length; i++){%>
                <tr>
                    <td><%= item[i].type %></td>
                    <td><%= item[i].product_name %></td>
                    <td><%= item[i].location %></td>
                    <td><%= item[i].barcode %></td>
                </tr>
            <% }; %>
        </tbody> -->
    </table>
  <script>
    // 테이블 콘텐츠를 요청하는 ajax 통신! 
  </script>
</body>
</html>